
    Options -MultiViews -Indexes

    RewriteEngine On

    RewriteBase /csc405/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+) index.php?url=$1 [QSA,L]
    